<div class="container" style="margin-top: 50px;">
  <div class="row">
    {{#each arr}}
    <div class="col-sm">
      <div class="card text-white bg-dark mb-3" style="width: 8rem; height: 12rem;">
        <div style="font-size: 12px" class="card-header"><a href="/main/chosenDay">{{date}}</a></div>
        <div class="card-body">
          {{#if exist}}
          {{#each events}}
          <h5 id="day1" style="font-size: 12px" class="card-title">{{this}}</h5>
          {{/each}}
          {{else}}
          <h5 id="day1" style="font-size: 11px; color:grey" class="card-title">нет событий</h5>
          {{/if}}
        </div>
      </div>

    </div>
    {{/each}}
    {{!-- <div class="col-sm">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div style="font-size: 13px" class="card-header"><a href="#">{{Data2}}</a></div>
                <div class="card-body">
                    <h5 id="day2" style="font-size: 13px" class="card-title">{{Event2}}</h5>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div style="font-size: 13px" class="card-header"><a href="#">{{Data3}}</a></div>
                <div class="card-body">
                    <h5 id="day3" style="font-size: 13px" class="card-title">{{Event3}}</h5>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div style="font-size: 13px" class="card-header"><a href="#">{{Data4}}</a></div>
                <div class="card-body">
                    <h5 id="day4" style="font-size: 13px" class="card-title">{{Event4}}</h5>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div style="font-size: 13px" class="card-header"><a href="#">{{Data5}}</a></div>
                <div class="card-body">
                    <h5 id="day5" style="font-size: 13px" class="card-title">{{Event5}}</h5>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div style="font-size: 13px" class="card-header"><a href="#">{{Data6}}</a></div>
                <div class="card-body">
                    <h5 id="day6" style="font-size: 13px" class="card-title">{{Event6}}</h5>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div style="font-size: 13px" class="card-header"><a href="#">{{Data7}}</a></div>
                <div class="card-body">
                    <h5 id="day7" style="font-size: 13px" class="card-title">{{Event7}}</h5>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div style="font-size: 13px" class="card-header"><a href="#">{{Data8}}</a></div>
                <div class="card-body">
                    <h5 id="day8" style="font-size: 13px" class="card-title">{{Event8}}</h5>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div style="font-size: 13px" class="card-header"><a href="#">{{Data9}}</a></div>
                <div class="card-body">
                    <h5 id="day9" style="font-size: 13px" class="card-title">{{Event9}}</h5>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div style="font-size: 13px" class="card-header"><a href="#">{{Data10}}</a></div>
                <div class="card-body">
                    <h5 id="day10" style="font-size: 13px" class="card-title">{{Event10}}</h5>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div style="font-size: 13px" class="card-header"><a href="#">{{Data11}}</a></div>
                <div class="card-body">
                    <h5 id="day11" style="font-size: 13px" class="card-title">{{Event11}}</h5>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div style="font-size: 13px" class="card-header"><a href="#">{{Data12}}</a></div>
                <div class="card-body">
                    <h5 id="day12" style="font-size: 13px" class="card-title">{{Event12}}</h5>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div style="font-size: 13px" class="card-header"><a href="#">{{Data13}}</a></div>
                <div class="card-body">
                    <h5 id="day13" style="font-size: 13px" class="card-title">{{Event13}}</h5>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div style="font-size: 13px" class="card-header"><a href="#">{{Data14}}</a></div>
                <div class="card-body">
                    <h5 id="day14" style="font-size: 13px" class="card-title">{{Event14}}</h5>
                </div>
            </div>

        </div> --}}
  </div>
</div>
